* text=auto

*.css  text eol=lf
*.cjs  text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.php  text eol=lf
*.sh   text eol=lf
*.yml  text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.zip binary
